@model Spice.Models.ViewModel.OrderDetailsCart
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />

<form method="post">
	@if (Model.listCart.Count > 0)
	{
		<br />
		<input id="userId" asp-for="@Model.listCart[0].ApplicationUserId" hidden />

		<div class="backgroundWhiteBorder">
			<div class="container">
				<div class="card">
					<div class="card-header bg-dark text-light ml-0 row container">
						<div class="col-6">
							<i class="fa fa-shopping-cart"></i>&nbsp;
							Shopping Cart
						</div>
						<div class="col-6 text-end">
							<a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-outline-info btn-sm">Continue Shopping</a>
						</div>
					</div>
				</div>
				<div class="card-body">
					@foreach (var item in Model.listCart)
					{
						<div class="row">
							<div class="row d-none d-lg-block col-lg-2 text-center">
								<img src="@item.MenuItem.Image" width="130" height="90" /> 
							</div>
							<div class="col-12 text-sm-center col-lg-5 text-lg-start">
								<h4><strong>@item.MenuItem.Name</strong></h4>
								<h5><small class="bg-opacity-75">@item.MenuItem.Description</small></h5>
							</div>
							<div class="col-lg-5 text-sm-center col-12 text-lg-end row">
								<div class="col-4 text-md-start" style="padding-top:5px">
									<h6><strong>$@item.MenuItem.Price <span class="text-muted">x</span> @item.Count</strong> </h6>
								</div>

								<div class="col-6 col-sm-4 col-lg-6">
									<div class="float-end mx-1">
										<button type="submit" class="btn btn-primary" asp-action="plus" asp-route-cardId="@item.Id">
											<i class="fas fa-plus"></i>
										</button>
									</div>
									<div class="float-end mx-1">
										<button type="submit" class="btn btn-danger" asp-action="minus" asp-route-cardId="@item.Id">
											<i class="fas fa-minus"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
					}
				</div>
			</div>
		</div>

	}
	else
	{
		<div class="backgroundWhite">No Item Add To The Shoping Cart ....</div>
	}
</form>